html, body {
  margin: 0px;
  position: relative;
  background-color: #303030;
}

canvas {
	display:  block;	
  position: absolute;
  top:     0;
  left:    0;
  z-index: 1;
}

.home {
	background-image: url("example_files/bg.jpg")	
}

#img {
	display: none;
}

.logo-block {
	width: 0px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 30px;
	border-color: #6fbc1f !important;
	border-left-width: 15px !important;
}

.spacer {
	margin-left: 40px;
}

.section { 
	height: 100vh; 
}

.lefthandblock {
	width: 50%;
	font-family: 'Open Sans', sans-serif;	
	font-size: 2em;
	text-align: right;		
}

h2 {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
